<% provide :page_title, "Home"%>
<% currently_at 'Home'%>

<h1 class="mb-4">Home</h1>
<%= link_to 'New movie', new_movie_path, class: 'btn btn-primary btn-lg mb-3' %>

<%= pagination @pagy %>

<% @movies.each do |movie| %>
  <article class="card mt-3 mb-3">
    <div class="card-body">
      <h4><%= link_to movie.title, movie_path(movie) %></h4>
      <h4><%= truncate strip_tags(movie.body), length: 150, omission: '... (continued)'%> </h4>
      <h4><%= format_average_stars(movie)%></h4>
        <div>
          <div class="col-sm-10 stars_id_<%= movie.id %>">
              <%=  select(:stars, "stars_id_#{movie.id}", Rating::STARS, class:'form-control' ) %>
              <div class="js_create_ratings" data-id= <%= movie.id %> >
                <%= link_to "create rating", "#",class: 'btn btn-primary mb-3'   %>
                <div class="btn btn-primary mb-3"  data-id="<%= movie.id %>"><%="jkdjkdfkjd"%>
                </div>
              </div>
          </div>
        </div>
      <h4>
        <% movie.categories&.each do |category| %>
          <%= link_to category.name, category_path(category)%>
        <% end %>
      </h4>
    </div>
  </article>
<% end %> 

<%= pagination @pagy %>

