<% provide :page_title, "Show movie"%>
<% currently_at 'Home'%>

<h1 class="mb-4"><%= sanitize @movie.title %></h1>

<time datetime="<%= @movie.created_at_formatted %>">
  <%= @movie.created_at_formatted %>
</time>

<div class="lead my-3">
  <%= sanitize @movie.body %>
</div>
<%= render 'shared/votes', object: @movie %>

<% if policy(@movie).edit? %>
  <%= link_to 'Edit', edit_movie_path(@movie), class: 'btn btn-secondary' %>
<% end %>
<% if policy(@movie).destroy? %>
  <%= link_to 'Destroy', movie_path(@movie), class: 'btn btn-danger',
    data: {method: :delete, confirm: 'Are you sure?'} %>
<% end %>
