<h1 class="mb-4"><%= @movie.title %></h1>

<time datetime="<%= @movie.created_at_formatted %>">
  <%= @movie.created_at_formatted %>
</time>

<p class="lead my-3">
  <%= @movie.body %>
</p>

<%= link_to 'Show', movie_path(@movie), class: 'btn btn-primary' %> 
<%= link_to 'Edit', edit_movie_path(@movie), class: 'btn btn-secondary' %>
<%= link_to 'Destroy', movie_path(@movie), class: 'btn btn-danger',
  data: {method: :delete, confirm: 'Are you sure?'} %>