<div data-item_id="<%= object.id %>">
<div class="col-sm-10 stars_id_<%= object.id %>">
  <%=  select(:stars, "stars_id_#{object.id}", Rating::STARS, class:'form-control' ) %>   
  <div class="btn btn-primary mb-2 js_create_ratings"  data-id="<%= object.id %>"><%="Vote"%></div>
</div>
</div>