<h1 class="mb-4"><%= @category.name %></h1>

<% @movie.each do |movie| %>
  <h1 class="mb-4"><%= movie.title %></h1>
  <time datetime="<%= movie.created_at_formatted %>">
    <%= movie.created_at_formatted %>
  </time>
  <p class="lead my-3">
    <%= movie.body %>
  </p>

  <%= link_to 'Show', category_path(@category), class: 'btn btn-primary' %> 
<% end %>